[submodule "frontend/explorer"]
	path = frontend/explorer
	url = git@github.com:kartoza/global-electrification-platform-data-service.git
[submodule "backend/data-service"]
	path = backend/data-service
	url = git@github.com:kartoza/global-electrification-platform-explorer.git
[submodule "geonode"]
	path = geonode
	url = git@github.com:kartoza/geonode.git
