[submodule "frontend/explorer"]
	path = frontend/explorer
	url = git@github.com:global-electrification-platform/explorer.git
[submodule "backend/data-service"]
	path = backend/data-service
	url = git@github.com:global-electrification-platform/data-service.git
