psycopg2-binary==2.8.5
django-braces==1.9.0
django-model-utils==1.4.0
django-pipeline==1.6.14
django-role-permissions==2.2.0
markdown==2.6.11

raven==6.10.0
django-sentry==1.13.5
pytz==2020.1

django-grappelli==2.14.2
djangorestframework==3.9.1
djangorestframework-gis==0.13
service_identity

# wagtail
wagtail==2.9.3
wagtailmenus==3.0.2
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8

git+https://github.com/kartoza/django-mapstore-adapter
git+https://github.com/kartoza/geonode-mapstore-client.git@develop